<p>view: habits</p>
<button ng-click="getRecentHabitLogs()">Show Recent Habit Logs</button>
	<label for="habitTimeframeSelect">range: </label>
    <select name="habitTimeframeSelect" id="habitTimeframeSelect" ng-model="habitTimeframe">
      <option value="">---Please select---</option>
	  <option value="7">past week</option>
	  <option value="30">past month</option>
	  <option value="365">past year</option>
	  <option value="-1">all time</option>
    </select>
<br/>
<br/>
<div class="habitsLineChartContainer">
<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas>
</div>
<p>submit habit log</p>
<form novalidate class="habitLogEntryForm">
	date (YYYY-MM-DD): <input type="text" ng-model="habitLogEntry.logDate" />
	<br/>
	score (out of 100.00): <input type="text" class="scoreInput" ng-model="habitLogEntry.score" ng-model-options="{debounce: 750}"/>
	-or- <input type="text" class="scoreInput" ng-model="habitLogEntry.scoreLower" ng-model-options="{debounce: 750}"/>
	/ <input type="text" class="scoreInput" ng-model="habitLogEntry.scoreUppder" ng-model-options="{debounce: 750}"/>
	
	<br/>
	<br/>
	<input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="submitHabitLogEntry(habitLogEntry)" value="Submit" />
</form>
<br/>
<div class="habitLogsTableContainer">
	<table class="habitLogsTable">
	  <tr>
	  <th>logDate</th>
	  <th>score</th>
	  </tr>
	  <tr ng-repeat="x in recentHabitLogs">
		<td>{{x.logDate}}</td>
		<td>{{x.score}}</td>
	  </tr>
	</table>
</div>