<p>view: habits</p>
<button ng-click="getRecentHabitLogs()">Show Recent Habit Logs</button>
	<label for="habitTimeframeSelect">range: </label>
    <select name="habitTimeframeSelect" id="habitTimeframeSelect" ng-model="habitTimeframe">
      <option value="">---Please select---</option>
	  <option value="7">past week</option>
	  <option value="30">past month</option>
	  <option value="365">past year</option>
	  <option value="-1">all time</option>
    </select>
<br/>
<br/>
<div class="habitsLineChartContainer">
<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas>
</div>
<p>submit habit log</p>
<form novalidate class="habitLogEntryForm" name="habitLogEntryForm">
	date (YYYY-MM-DD): <input type="text" ng-model="habitLogEntryForm.logDate" />
	<br/>
	score (out of 100.00): 
	<input type="text" 
	class="scoreInput" 
	ng-model="habitLogEntryForm.scorePercentile" 
	ng-disabled="habitLogEntryForm.scorePercentileDisabled"
	percentile
	/>
	-or- 
	<input type="text" class="scoreInput"
	ng-model="habitLogEntryForm.scoreLower"
	ng-disabled="habitLogEntryForm.scoreLowerDisabled"/>
	/ 
	<input type="text" class="scoreInput" 
	ng-model="habitLogEntryForm.scoreUpper"
	ng-disabled="habitLogEntryForm.scoreUpperDisabled"/>
	<div ng-messages="habitLogEntryForm.scorePercentile.$error" class="errors">
		<span ng-message="percentile"> percentile scores must be between 0.00 and 100.00 (inclusive)
		<span/>
		<span ng-message="lowerbound">score must be less than upper bound</span>
	</div>

	<br/>
	<br/>
	<input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="submitHabitLogEntryForm(habitLogEntryForm)" value="Submit" />
</form>
<br/>
<div class="habitLogsTableContainer">
	<table class="habitLogsTable">
	  <tr>
	  <th>logDate</th>
	  <th>score</th>
	  </tr>
	  <tr ng-repeat="x in recentHabitLogs">
		<td>{{x.logDate}}</td>
		<td>{{x.score}}</td>
	  </tr>
	</table>
</div>