<p>view: habits</p>
<button ng-click="getRecentHabitLogs()">Show Recent Habit Logs</button>
	<label for="habitTimeframeSelect">range: </label>
    <select name="habitTimeframeSelect" id="habitTimeframeSelect" ng-model="habitTimeframe">
      <option value="">---Please select---</option>
	  <option value="7">past week</option>
	  <option value="30">past month</option>
	  <option value="365">past year</option>
	  <option value="-1">all time</option>
    </select>
<br/>
<br/>
<div class="habitsLineChartContainer">
<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas>
</div>
<p>submit habit log</p>
<form class="habitLogEntryForm" ng-controller="HabitsCtrl">
	date (YYYY-MM-DD): <input type="text" ng-model="habitLogEntryForm.logDate" />
	<br/>
	Score:
	<div class="habitScoreInputSelectors">
		<label>
			<input type="radio"
			   ng-model="habitLogEntryForm.scoreInputType"
			   value="points">
			   points
		</label><br/>
		<label>
			<input type="radio"
			   ng-model="habitLogEntryForm.scoreInputType"
			   value="percent">
			   percent
		</label><br/>
	</div>
	<input type="text" class="scoreInput" 
		ng-model="habitLogEntryForm.score" 
		score
	/>
	<span ng-if='habitLogEntryForm.scoreInputType == "points"'>
		out of
	</span>
	<span ng-if="scoreInputType == 'percent'">%</span>
	<input type="text" class="scoreInput" 
		ng-model="habitLogEntryForm.maxScore" 
		ng-if="habitLogEntryForm.scoreInputType == 'points'"
	/>
	<input type="submit" ng-click="submitHabitLogEntryForm()" value="Submit" />
</form>
<br/><br/>
	
<!--
<form class="habitLogEntryForm" name="habitLogEntryForm">
	date (YYYY-MM-DD): <input type="text" ng-model="habitLogEntryForm.logDate" />
	<br/>
	score (out of 100.00): 
	<input type="text" 
	class="scoreInput" 
	ng-model="habitLogEntryForm.scorePercent" 
	ng-disabled="habitLogEntryForm.scorePercentDisabled"
	scorePercent
	/>
	-or- 
	<input type="text" class="scoreInput"
	ng-model="habitLogEntryForm.scorePoints"
	ng-disabled="habitLogEntryForm.scorePointsDisabled"
	scorePoints
	/>
	/ 
	<input type="text" class="scoreInput" 
	ng-model="habitLogEntryForm.maxPoints"
	ng-disabled="habitLogEntryForm.maxPointsDisabled"
	maxPoints
	/>
	<div ng-messages="habitLogEntryForm.$error" class="errors">
		<span ng-message="scorePercent"> percentage scores must be between 0.00 and 100.00 (inclusive)
		<span/>
		<span ng-message="scorePoints">points scored must be less than maximum points</span>
	</div>
	<br/>
	<br/>
	<input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="submitHabitLogEntryForm(habitLogEntryForm)" value="Submit" />
</form>
-->
<br/>
<div class="habitLogsTableContainer">
	<table class="habitLogsTable">
	  <tr>
	  <th>logDate</th>
	  <th>score</th>
	  </tr>
	  <tr ng-repeat="x in recentHabitLogs">
		<td>{{x.logDate}}</td>
		<td>{{x.score}}</td>
	  </tr>
	</table>
</div>