<div class="habitsLineChartControls">
	<div class="filterContainer">
		<label>
			<input type="radio" ng-model="ctrl.filter" value="daily">
			daily
		</label><br/>
		<label>
			<input type="radio" ng-model="ctrl.filter" value="moving2WeekAverage">
			moving avg. (2 week)
		</label>
	</div>
	<label for="habitTimeframeSelect">range: </label>
	<select name="habitTimeframeSelect" id="habitTimeframeSelect" ng-model="ctrl.habitTimeframe"
	ng-change="ctrl.update()">
	  <option value="7">past week</option>
	  <option value="30">past month</option>
	  <option value="365">past year</option>
	  <option value="-1">all time</option>
	</select>
</div>
<div class="habitsLineChartContainer">
	<canvas id="habitsLineChart"></canvas>
</div>
