<div class="habitsLineChartControls">
	<button class="updateButton" ng-click="ctrl.updateChart()">Update</button>
	<div class="filterContainer">
		<label>
			<input type="radio" ng-model="ctrl.filter" value="daily">
			daily
		</label><br/>
		<label>
			<input type="radio" ng-model="ctrl.filter" value="moving2WeekAverage">
			moving avg. (2 week)
		</label>
	</div>
	<label for="habitTimeframeSelect">range: </label>
	<select name="habitTimeframeSelect" id="habitTimeframeSelect" ng-model="ctrl.habitTimeframe">
	  <option value="">---Please select---</option>
	  <option value="7">past week</option>
	  <option value="30">past month</option>
	  <option value="365">past year</option>
	  <option value="-1">all time</option>
	</select>
	<br/>
	<button ng-click="ctrl.test1()">test 1</button>habitTimeframe: {{ctrl.habitTimeframe}}
</div>
<div class="habitsLineChartContainer">
	<canvas id="habitsLineChart"></canvas>
</div>
